{% extends 'base.html' %}
{% load static %}
{% block content %}

<form class="container col-9 mt-4">
    <div class="form-group row border border-secondary">
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="fa-score" class="col-form-label text-center">
                    <i class="bi bi-graph-up m-2"></i> minimum <strong>FA Score:</strong>
                </label>
                <output id="fa-score-value" class="range-value">30</output>
                <input type="range" class="form-range" id="fa-score" min="0" max="33" value="30"
                       oninput="document.getElementById('fa-score-value').innerHTML = this.value;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="rsi" class="col-form-label text-center"><i class="bi bi-speedometer2 m-2"></i>
                    maximum <strong>RSI:</strong> </label>
                <output id="rsi-value" class="range-value">40</output>
                <input type="range" class="form-range" id="rsi" min="0" max="100" value="40"
                       oninput="document.getElementById('rsi-value').innerHTML = this.value;">
            </div>
        </div>
    </div>
    <div class="form-group row border border-secondary mt-1">
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="avg-gain-loss" class="col-form-label text-center">
                    <i class="bi bi-bar-chart-line m-2"></i> minimum <strong>Avg
                    Gain Loss: </strong></label>
                <output id="avg-gain-loss-value" class="range-value">10</output>
                <input type="range" class="form-range" id="avg-gain-loss" min="0" max="50" value="10"
                       oninput="document.getElementById('avg-gain-loss-value').innerHTML = this.value;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="five-year-dividend-yield" class="col-form-label text-center"><i
                        class="bi bi-cash-stack m-2"></i> minimum <strong>Five Year Avg Dividend Yield:</strong>
                </label>
                <output id="five-year-dividend-yield-value" class="range-value">2</output>
                <input type="range" class="form-range" id="five-year-dividend-yield" min="0" max="10" value="2"
                       oninput="document.getElementById('five-year-dividend-yield-value').innerHTML = this.value;">

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group mt-3 col-3">
            <button type="submit" class="btn btn-secondary btn-lg rounded">
                <i class="bi bi-funnel-fill"></i> Filter Data
            </button>
        </div>
    </div>

</form>

<div class="container col-10 mt-5">
    <div class="table-responsive">
        <table class="container table table-hover">
            <thead>
            <tr>
                <th class="small-font table-secondary">Stock Code</th>
                <th class="small-font table-secondary">Sector</th>
                <th class="small-font table-secondary">Industry</th>
                <th class="small-font table-secondary">Country</th>
                <th class="small-font table-secondary">Exchange</th>
                <th class="small-font table-secondary">Company Name</th>
                <th class="small-font table-secondary">RSI</th>
                <th class="small-font table-secondary">FA Score</th>
                <th class="small-font table-secondary">Avg Gain Loss</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ABC</td>
                <td>Technology</td>
                <td>Software</td>
                <td>USA</td>
                <td>NASDAQ</td>
                <td>ABC Corp</td>
                <td>45</td>
                <td>32</td>
                <td>12</td>
            </tr>
            <tr>
                <td>DEF</td>
                <td>Healthcare</td>
                <td>Pharmaceuticals</td>
                <td>Canada</td>
                <td>Toronto Stock Exchange</td>
                <td>DEF Inc</td>
                <td>60</td>
                <td>28</td>
                <td>8</td>
            </tr>
            <tr>
                <td>GHI</td>
                <td>Consumer Goods</td>
                <td>Apparel</td>
                <td>France</td>
                <td>Euronext Paris</td>
                <td>GHI SA</td>
                <td>35</td>
                <td>29</td>
                <td>15</td>
            </tr>
            <tr>
                <td>JKL</td>
                <td>Energy</td>
                <td>Oil & Gas</td>
                <td>USA</td>
                <td>New York Stock Exchange</td>
                <td>JKL Corp</td>
                <td>50</td>
                <td>30</td>
                <td>11</td>
            </tr>
            <tr>
                <td>MNO</td>
                <td>Financials</td>
                <td>Banking</td>
                <td>UK</td>
                <td>London Stock Exchange</td>
                <td>MNO Bank</td>
                <td>55</td>
                <td>31</td>
                <td>13</td>
            </tr>
            <tr>
                <td>PQR</td>
                <td>Technology</td>
                <td>Hardware</td>
                <td>USA</td>
                <td>NASDAQ</td>
                <td>PQR Inc</td>
                <td>40</td>
                <td>33</td>
                <td>14</td>
            </tr>
            <tr>
                <td>STU</td>
                <td>Consumer Goods</td>
                <td>Beverages</td>
                <td>Germany</td>
                <td>Frankfurt Stock Exchange</td>
                <td>STU AG</td>
                <td>30</td>
                <td>30</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VWX</td>
                <td>Industrials</td>
                <td>Aerospace</td>
                <td>USA</td>
                <td>New York Stock Exchange</td>
                <td>VWX Corp</td>
                <td>65</td>
                <td>27</td>
                <td>7</td>
            </tr>
            <tr>
                <td>YZA</td>
                <td>Healthcare</td>
                <td>Medical Devices</td>
                <td>USA</td>
                <td>NASDAQ</td>
                <td>YZA Inc</td>
                <td>70</td>
                <td>26</td>
                <td>10</td>
            </tr>
            <tr>
                <td>BCD</td>
                <td>Utilities</td>
                <td>Electricity</td>
                <td>Canada</td>
                <td>Toronto Stock Exchange</td>
                <td>BCD Corp</td>
                <td>25</td>
                <td>31</td>
                <td>16</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
