{% extends 'base.html' %}
{% load static %}
{% block content %}

<form class="container col-9 mt-4" method="POST">
    {% csrf_token %}
    <div class="form-group row border border-secondary">
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="fa_score" class="col-form-label text-center">
                    minimum <strong>FA Score:</strong>
                </label>
                <output id="fa_score-value" class="range-value">{{ fa_score }}</output>
                <input type="range" class="form-range" id="fa_score" name='fa_score' min="0" max="33"
                       value="{{ fa_score }}"
                       oninput="document.getElementById('fa_score-value').innerHTML = this.value;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="rsi" class="col-form-label text-center">
                    maximum <strong>RSI:</strong> </label>
                <output id="rsi-value" class="range-value">{{ rsi }}</output>
                <input type="range" class="form-range" id="rsi" name='rsi' min="0" max="100" value="{{ rsi }}"
                       oninput="document.getElementById('rsi-value').innerHTML = this.value;">
            </div>
        </div>
    </div>
    <div class="form-group row border border-secondary mt-1">
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="avg_gain_loss" class="col-form-label text-center">
                    minimum <strong>Avg
                    Gain Loss: </strong></label>
                <output id="avg_gain_loss-value" class="range-value">{{ avg_gain_loss }}</output>
                <input type="range" class="form-range" id="avg_gain_loss" name='avg_gain_loss' min="0" max="50"
                       value="{{ avg_gain_loss }}"
                       oninput="document.getElementById('avg_gain_loss-value').innerHTML = this.value;">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="range-slider">
                <label for="five_year_avg_dividend_yield" class="col-form-label text-center">
                    minimum <strong>5 Year Avg Dividend Yield:</strong>
                </label>
                <output id="five_year_avg_dividend_yield-value"
                        class="range-value">{{ five_year_avg_dividend_yield }}
                </output>
                <input type="range" class="form-range" id="five_year_avg_dividend_yield"
                       name="five_year_avg_dividend_yield"
                       min="-2" max="10" value="{{ five_year_avg_dividend_yield }}"
                       oninput="document.getElementById('five_year_avg_dividend_yield-value').innerHTML = this.value;">

            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="form-group mt-3 col-3">
            <button type="submit" class="btn btn-secondary btn-lg rounded shadow-sm">
                <i class="bi bi-funnel-fill"></i> Filter Data
            </button>
        </div>
    </div>

</form>

{% if all_stocks %}
<div class="container col-10 mt-5">
    <div class="table-responsive">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="fa_score" value="{{ fa_score }}">
            <input type="hidden" name="rsi" value="{{ rsi }}">
            <input type="hidden" name="avg_gain_loss" value="{{ avg_gain_loss }}">
            <input type="hidden" name="five_year_avg_dividend_yield" value="{{ five_year_avg_dividend_yield }}">

            <table class="container table table-hover">
                <thead>
                <tr>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="stock_code" class="btn btn-link">
                            Stock Code
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="sector" class="btn btn-link">
                            Sector
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="industry" class="btn btn-link">
                            Industry
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="country" class="btn btn-link">
                            Country
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="exchange_short_name"
                                class="btn btn-link">
                            Exchange
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="company_name" class="btn btn-link">
                            Company Name
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="rsi" class="btn btn-link">
                            RSI
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="fa_score" class="btn btn-link">
                            FA Score
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="avg_gain_loss" class="btn btn-link">
                            Avg Gain Loss
                        </button>
                    </th>
                    <th class="small-font table-secondary">
                        <button type="submit" name="sort" value="five_year_avg_dividend_yield"
                                class="btn btn-link">
                            Five year avg dividend yield
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for stock in all_stocks %}
                <tr>
                    <td><a href="{% url 'detail' stock.id %}" style="text-decoration:none;color:black;">{{ stock.stock_code }}</a></td>
                    <td>{{ stock.sector }}</td>
                    <td>{{ stock.industry }}</td>
                    <td>{{ stock.country }}</td>
                    <td>{{ stock.exchange_short_name }}</td>
                    <td>{{stock.company_name }}</td>
                    <td>{{ stock.rsi }}</td>
                    <td>{{ stock.fa_score }}</td>
                    <td>{{ stock.avg_gain_loss}}</td>
                    <td>{{ stock.five_year_avg_dividend_yield}}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
    </div>
</div>

{% else %}
<div class="container text-center text-secondary mt-5">
    <h1>No data to display</h1>
    <h3>Update the search and try again</h3>
</div>
{% endif %}

{% endblock %}
